<%= form_with(model: fly) do |form| %>
  <% if fly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fly.errors.count, "error") %> prohibited this fly from being saved:</h2>

      <ul>
        <% fly.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
