<p id="notice"><%= notice %></p>

<h1>
  <%= @fly.name %>
</h1>

<p>
  <%= image_tag @fly.photo, :size => "480x360" %>
</p>

<h6>
  <%= @fly.description %>
</h6>

<%= link_to 'Edit', edit_fly_path(@fly) %> |
<%= link_to 'Back', flies_path %>

<h2>
  Matches
</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fly.bugs.each do |fly| %>
      <tr>
        <td><%= bug.name %></td>
        <td><%= image_tag bug.photo, :size => "260x180" %></td>
        <td><%= bug.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "matches/form", match: @fly.matches.build %>