<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if match.fly_id == nil %>
    <div class="field">
      <%= form.label :fly_id %>
      <%= form.collection_select :fly_id, Fly.order(:name), :id, :name %>
    </div>
  <% else %>
    <div class="field">
      <%= form.hidden_field :fly_id, value: @fly.id %>
    </div>
  <% end %>

  <% if match.bug_id == nil %>
    <div class="field">
      <%= form.label :bug_id %>
      <%= form.collection_select :bug_id, Bug.order(:name), :id, :name %>
    </div>
  <% else %>
    <div class="field">
      <%= form.hidden_field :bug_id, value: @bug.id %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
