<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fly_id %>
    <%= form.number_field :fly_id %>
  </div>

  <div class="field">
    <%= form.label :bug_id %>
    <%= form.number_field :bug_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
