<p id="notice"><%= notice %></p>

<h2>
  <%= @bug.name %>
<h2>

<p>
  <%= image_tag @bug.photo, :size => "480x360" %>
</p>

<h5>
  <%= @bug.description %>
<h5>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>

<hr>

<h2>
  Matches
</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bug.flies.each do |fly| %>
      <tr>
        <td><%= fly.name %></td>
        <td><%= image_tag fly.photo, :size => "260x180" %></td>
        <td><%= fly.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "matches/form", match: @bug.matches.build %>